---
permalink: 404.html
sitemapIgnore: true
---
{% extends 'layouts/@default.njk' %}

{% block headerslot %}
    <div>
      <h1>404</h1>
    </div>
{% endblock %}

{% block main %}
  <p>
    The page you are looking for was not found.
  </p>
{% endblock %}
