---
permalink: about/index.html
---
{% extends 'layouts/@default.njk' %}

{% block headerslot %}
    <div>
      <h1>About me</h1>
        <p class="subtitle-small">
          Gone live on 1980
      </p>
      <p class="subtitle">contact ★ rolandtoth.hu &nbsp;|&nbsp; +36 70 776 4617</p>
    </div>
{% endblock %}

{% block main %}
<div class="about">
  <img src="{{ cfg.avatar | url | buildTimestamp }}" alt="Roland Toth Pal" class="avatar" {{ cfg.avatar | imageDimensions | safe }} >
  <div class="content content-maxwidth">

    <h2>Hi! I'm Roland Toth Pal.</h2>

    <p class="subtitle">(also known as tpr)</p>

    <p>
      I started out my career as an offline designer and slowly shifted towards web design and development. I try to create things that not only work well but also look well.
    </p>

    <h3>The Droomlapress Era</h3>

    <p>
      In the beginning I was using PHP and WordPress/Drupal/Joomla for content management. I often created websites from wireframe to finished code, including frontend and backend development. This was a rapid and efficient workflow as it avoided the extra designer-developer roundtrips.
    </p>

    <h3>Meet ProcessWire</h3>

    <p>
      Later I switched to ProcessWire which was my go-to CMS/CMF for years (and is currently too), for which I developed many modules being quite successful in the ProcessWire community. These are ranging from heavy admin customizations, porting a template engine and creating an interface for a more enjoyable unit testing (see my <a href="{{ cfg.headerlinks.github }}" target="_blank" rel="noopener">GitHub account</a> for more).
    </p>

    <p>
      I was also working with various PHP frameworks (Laravel, Nette) that helped getting familiar with MVC and developing more robust applications, especially when paired together with ProcessWire.
    </p>

    <h3>Future</h3>

    <p>
      Currently I'm working with .NET MVC that I really enjoy. Digging more into OOP concepts is something I make use of elsewhere too.
    </p>

    <p>
      I do not want to lag behind from the ever-changing frontend world. I always found CSS and JavaScript fun to use and I believe a good web craftsman should master them.
    </p>

    <p>
      I try to keep up with the latest trends and update my toolset with tools having clear benefits on my development process.
    </p>

    <h3>Humanoid Part</h3>

    <p>
      I'm married and have two beautiful children. When they allow I like to go running or swimming, or just trying to catch up with everyday tasks I have postponed :)
    </p>

  </div>
</div>
{% endblock %}
