// variables
$version: "?v=20200611";
$base: #2c3235;
$paleblue: hsl(201, 20%, 36%);
$blueishgrey: rgba(144, 164, 174, 0.18);
$bordercolor: #dadada;
$headerBgColor: #08486d;
$images: "/assets/images";

// breakpoints
$_mobile: 480;
$_tablet: 640;
$_desktop: 990;
$_hd: 1240;
$_xhd: 1600;
$tablet: "min-width: #{$_tablet}px";
$desktop: "min-width: #{$_desktop}px";
$hd: "min-width: #{$_hd}px";
$xhd: "min-width: #{$_xhd}px";
$max-mobile: "max-width: #{$_tablet - 1}px";
$max-tablet: "max-width: #{$_desktop - 1}px";
$max-desktop: "max-width: #{$_hd - 1}px";
$max-hd: "max-width: #{$_xhd - 1}px";

// imports
@import "normalize";
@import "mixins";
@import "fonts/raleway";
@import "fonts/benchnine";
@import "fg_grid/fg_grid";
@import "svg-icons";

// override defaults
* {
    outline: none;
}

strong {
    font-weight: 600;
}

p {
    margin: 0 0 1.25rem;
}

img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    color: $paleblue;
    text-decoration: underline;

    &:hover {
        color: lighten($paleblue, 10%);
    }

    @media ($desktop) {
        transition: all 0.12s;
    }
}

// styles
html {
    overflow-x: hidden;
    // overflow-y: overlay;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    color: $base;
    font-size: 14px;

    @media ($tablet) {
        font-size: 15px;
    }

    font-size: 15px;

    @media ($desktop) {
        font-size: 16px;
    }
}

.container {
    margin: 0 auto;
    max-width: 54rem;
    padding: 0 1.12rem;

    @media ($desktop) {
        max-width: 80rem;
        padding: 0 6rem;
    }
}

.main-wrap {
    overflow-x: hidden;

    @media($desktop) {
        perspective: 3px;
        transform-style: preserve-3d;
        height: 100vh;
    }
}

header {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    color: white;
    padding: 2rem 0 0.5rem;
    background: darken($paleblue, 20%) url("#{$images}/bg-mobile.jpg") center center no-repeat;
    background-size: cover;

    @media ($tablet) {
        background-image: url("#{$images}/bg.jpg");
    }

    @media ($desktop) {
        padding: 3rem 0 4rem;
        transform: translate3d(0, 0, -1px) scale(1.33333);
        transform-origin: center 50vh;
        margin-left: -3px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.125;
        background-color: $paleblue;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            opacity: 0.8;
        }
    }

    &:hover {
        .quotes {
            button {
                display: inline-block;
            }
        }
    }

    .subtitle {
        font-size: 1.16rem;
        max-width: 40rem;
    }
}

.header-links {
    font-size: 0.84rem;
    position: relative;
    top: -1.25rem;

    @media ($desktop) {
        padding-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        padding-right: 1rem;
        margin-bottom: 0.5rem;

        @media ($desktop) {
            padding-right: 2rem;
        }
    }

    a {
        display: block;
        opacity: 0.5;

        &:hover {
            opacity: 0.84;
        }
    }

    strong {
        display: block;
    }

    span {
        display: none;

        @media ($desktop) {
            display: block;
        }
    }
}

.header-content {
    @media ($desktop) {
        >div {
            @include _fg(6 1,
                0,
                0);
        }
    }
}

.main-content {
    padding: 2.5rem 0 0;
    background: white;
    position: relative;
}

h1,
.text {
    margin-top: 0.75rem;
    font-family: "BenchNine", sans-serif;
    font-size: 3.2rem;
    letter-spacing: -2px;
    word-spacing: 8px;
    line-height: 1.04;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @media ($tablet) {
        font-size: 3.6rem;
    }

    @media ($desktop) {
        font-size: 4.8rem;
    }

    @media ($hd) {
        font-size: 5.6rem;
    }
}

.subtitle-small {
    margin-top: -0.75rem;
    margin-bottom: 2rem;
    font-size: 0.84rem;
}

.quotes {
    padding-right: 1rem;
    position: relative;

    @media ($desktop) {
        margin-top: 1rem;
    }

    .author {
        font-size: 0.84rem;
        position: relative;
        top: -0.5rem;

        &::before {
            content: "— ";
        }

        @media ($desktop) {
            font-size: 0.94rem;
        }
    }

    button {
        display: none;
        $size: 1.75rem;
        width: $size * 1.5;
        height: $size * 1.5;
        position: absolute;
        top: 1.8rem;
        left: -2.84rem;
        background: url("#{$svg_refresh}") center center no-repeat;
        background-size: $size $size;
        border: none;
        display: none;

        @media ($max-tablet) {
            display: none !important;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.button {
    display: inline-block;
    border: 1px solid $bordercolor; // border-radius: 2px;
    background: transparent;
    font-size: 0.94rem;
    line-height: 1.1 !important;
    padding: 0.6rem 1.25rem;
    user-select: none; // &:hover {
    //     background-color: $paleblue !important;
    // }
}

.button-white {
    @extend .button;
    border-color: white;

    &:hover {
        color: $base;
    }
}

.intro {
    @include clearfix;
    display: table;
    margin-top: -1rem;
    margin-bottom: 1rem;

    @media ($desktop) {
        margin-top: -3.5rem;
        margin-bottom: 2rem;
    }

    p {
        margin: 0 0 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    >* {
        display: table-cell;
        vertical-align: top;

        @media ($tablet) {
            vertical-align: middle;
        }
    }

    >div {
        padding-left: 0.5rem;

        @media ($desktop) {
            padding-left: 1rem;
            position: relative;
            top: 0.3rem;
        }
    }

    .avatar {
        @extend .avatar;
        margin-bottom: 0;

        @media ($max-mobile) {
            padding: 0.33rem;
            max-width: 5rem;
        }
    }
}

h2 {
    margin: 0 0 1rem;
    word-spacing: 0.25rem;

    &,
    a {
        color: $paleblue;
        font-family: "BenchNine", sans-serif;
        font-weight: 500;
        font-size: 1.54rem;
        text-transform: uppercase;
        text-decoration: none;

        @media ($desktop) {
            font-size: 1.84rem;
        }
    }
}

h3 {
    font-size: 1.08rem;
}

.articles {
    margin: 1.5rem 0;

    @media ($tablet) {
        padding-left: 1rem;
    }

    h2 {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        display: block;
    }

    article {
        @media ($desktop) {
            @include _fg(7 6);
            align-items: flex-start;
        }

        position: relative;
        z-index: 3;
        margin-bottom: 2.125rem;
        padding-bottom: 1.25rem;

        @media ($desktop) {
            padding-bottom: 2rem;
        }
    }

    .article-image {
        $size: 16rem;
        max-height: $size;
        min-height: $size;
        overflow: hidden;
        @extend .article-image-border;
        padding: 0;
        margin-bottom: 2.25rem;
        max-width: 30rem;
        background: lighten($blueishgrey, 10%); // @media ($max-mobile) {

        //     margin-left: 0.6rem;
        // }
        @media ($desktop) {
            transition: max-height 0.2s;
            margin-bottom: 0;
            max-width: 100%;
        }

        img {
            width: 100%;
        }

        label {
            display: block;
        }

        &::before {
            position: absolute;
            top: -2rem;
            left: 50%;
            bottom: 0;
            width: 100vw;
            transform: translateX(-50%);
            z-index: -1;
            pointer-events: none;

            @media ($desktop) {
                left: calc(50% + 12px);
            }
        }
    }

    .fulltext {
        display: none;
    }

    input {
        display: none !important;

        &:checked {
            ~.article-image {
                @extend .article-image-active;
                max-height: 120vh;

                &::before {
                    content: "";
                    background: rgba(62, 101, 122, 0.084) !important;
                }
            }

            ~.description {
                .fulltext {
                    display: block;
                }
            }
        }
    }

    label {
        cursor: pointer;
    }

    .description {
        label {
            @extend button;
            letter-spacing: 3px;
            background: white;
            text-align: center;
            text-indent: -9999px;
            height: 0.2rem;
            min-width: 1.75rem;
            background: white url("#{$svg_ellipsis}") center center no-repeat;
            background-size: 1.25rem 1.25rem;
        }
    }
}

.article-image-active {
    outline: 0.7rem solid white;
    outline-offset: 0;
}

.article-image-border {
    outline: 1px solid $bordercolor;
    outline-offset: 0.7rem;
}

.content-maxwidth {
    max-width: 46rem;
}

.about {
    >.avatar {
        margin-top: -1rem;

        @media ($desktop) {
            position: sticky;
            top: 1rem;
            margin-top: -3.5rem;
            float: left;
            margin-right: 1.75rem;
        }
    }

    >div {
        overflow: hidden;
    }

    .subtitle {
        margin-top: -1rem;
    }
}

.avatar {
    border-radius: 100%;
    overflow: hidden;
    padding: 0.5rem;
    margin: 0 0.5rem 0 -0.5rem;
    background: white;
    min-width: unset;
    max-width: 6rem;

    @media ($desktop) {
        max-width: 7rem;
    }
}

.work-listing {
    user-select: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include _fg(1,
            2em,
            0);

        @media ($tablet) {
            @include _fg(2, 2em);
        }

        @media ($hd) {
            @include _fg(3, 2em);
        }
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5rem 2rem !important;
        position: relative;
        z-index: 2;
        background-size: cover;
        outline: 1px solid $bordercolor;
        border: 11px solid white;
        margin-bottom: 2em;
        backface-visibility: hidden;

        @media ($max-mobile) {
            margin-bottom: 3rem;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "BenchNine", sans-serif;
        font-size: 1.8rem;
        line-height: 1.25;
        color: $paleblue;
        opacity: 0;
        text-shadow: 0 0 2px white, 0 0 5px rgba(white, 0.6);

        &:hover {
            opacity: 0.999;
            text-shadow: none;

            &::before {
                background: rgba(white, 0.9);
            }
        }

        &::before {
            $offset: 11px;
            content: "";
            position: absolute;
            top: -$offset;
            left: -$offset;
            right: -$offset;
            bottom: -$offset;
            z-index: -1;
        }
    }

    span {
        margin-top: 0.25rem;
        display: block;
        color: $base;
        font-size: 0.9rem;
        text-transform: none;
        font-family: "Raleway", sans-serif;
    }
}

.work-grid {
    @include _fg(1,
        0,
        0);

    aside {
        margin-bottom: 2rem;
        max-width: 40rem;
        order: 2;
        margin-top: 2rem;
        position: relative;

        img {
            @extend .article-image-border;
        }
    }

    @media ($desktop) {
        @include _fg(1 1,
            0,
            0);

        aside {
            order: 0;
            max-width: 100%;
            left: 0.7rem;
            padding-right: 3rem;
            margin-top: 0.5rem;
        }
    }
}

.contact {
    user-select: none;

    ul {
        list-style: none;
        padding: 0;
        margin: 1.5rem 0 0 0;

        @media ($desktop) {
            margin: 0;
        }
    }

    li {
        display: inline-block;
        text-align: center;

        @media ($desktop) {
            display: block;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
            margin-right: 2rem;

            @media ($desktop) {
                margin-right: 0;
            }
        }

        a {
            position: relative;
            text-decoration: none;
            display: inline-block;
            font-size: 0.84rem;

            @media ($desktop) {
                font-size: 0.94rem;
            }

            &::before {
                $size: 1.5rem;
                content: "";
                display: block;
                width: 100%;
                height: $size;
                margin-bottom: 0.5rem;
                background: url("#{$svg_github}") center center no-repeat;
                background-size: $size $size;

                @media ($desktop) {
                    $size: 2rem;
                    height: $size;
                    background-size: $size $size;
                }
            }
        }

        &.email a::before {
            background-image: url("#{$svg_envelope}");
        }

        &.linkedin a::before {
            background-image: url("#{$svg_linkedin}");
        }
    }
}

.worktags {
    font-size: 0.84rem;
    color: rgba($base, 0.66);
    margin-top: 1.75rem;
    padding-top: 0.75rem;
    border-top: 1px solid $bordercolor;
    user-select: none;

    span {
        display: inline-block;
        margin-bottom: 0.25rem;

        &:not(:last-child) {
            &::after {
                content: "·";
                display: inline-block;
                padding: 0 0.4rem;
            }
        }
    }
}

// @media ($desktop) {
.main-content>.container>.pagination {
    top: -0.66rem;
}

// }
.pagination {
    $size: 0.9rem;
    user-select: none;
    position: relative;

    @media($desktop) {
        text-align: center;
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;

        &:not(.current) a {
            background: url("#{$svg_angle_right}") center center no-repeat;
            background-size: $size $size;
            text-indent: -9999px;
        }

        &.prev a {
            background-image: url("#{$svg_angle_left}");
        }

        &.first a {
            background-image: url("#{$svg_angle_double_left}");
        }

        &.last a {
            background-image: url("#{$svg_angle_double_right}");
        }

        &.disabled a {
            color: $base;
            text-decoration: none;
            pointer-events: none;
            cursor: default;
            opacity: 0.4;
        }

        &.current a {
            opacity: 1 !important;
            margin: 0 0.25rem;

            span {
                font-size: 0.84rem;
            }
        }

        a {
            $blockSize: $size * 2;
            min-width: $blockSize;
            height: $blockSize;
            line-height: $blockSize;
            display: inline-block;
            padding: 0.25rem;
            border: 1px solid transparent;
            text-align: center;
            white-space: nowrap;
            word-spacing: 0.16rem;

            &:hover {
                border-color: $bordercolor;
            }
        }
    }
}

// @media ($max-mobile) {
//     .pagination {
//         margin-left: -0.7rem;
//         margin-right: -0.7rem;
//         ul {
//             width: 100%;
//         }
//         li {
//             &.first {
//                 float: left;
//             }
//             &.last {
//                 float: right;
//             }
//         }
//     }
// }
.back {
    margin-top: 1rem;
    display: inline-block;

    &::before {
        $size: 1rem;
        content: "";
        width: $size;
        height: $size;
        display: inline-block;
        background: url("#{$svg_angle_left}") center center no-repeat;
        background-size: $size $size;
        margin-right: 0.16rem;
        position: relative;
        top: 2px;
    }
}

footer {
    padding: 1rem 0;
    margin: 3rem 0 1rem;
    font-size: 0.84rem;
    position: relative;
    z-index: 1;
    max-width: 32rem;

    @media ($desktop) {
        text-align: center;
        margin: 3rem auto 1rem;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            border-bottom: 1px solid $bordercolor;
            z-index: -1;
        }
    }

    p {
        display: inline-block;
        margin: 0;
        padding: 0.5rem 0;

        @media ($desktop) {
            padding: 0.5rem 0.75rem;
        }

        @media ($desktop) {
            padding: 0.5rem 1rem;
            background: white;
        }
    }

    a {
        color: $base;

        &:not(:hover) {
            text-decoration: none;
        }
    }
}

.subtitle {
    @media ($desktop) {
        margin-top: 1rem;
    }
}

.prev-next {
    @media ($max-tablet) {
        display: none;
    }

    a {
        $size: 2.7rem;
        $offset: 0.5rem;
        $textOffset: 2.75rem;
        position: fixed;
        top: 60vh;
        left: $offset;
        display: inline-block;
        width: $size * 1.5;
        height: $size * 1.5;
        background: url("#{$svg_angle_left}") center center no-repeat;
        background-size: $size $size;
        opacity: 0.24;

        &.next {
            left: auto;
            right: $offset;
            background-image: url("#{$svg_angle_right}");

            span {
                left: auto;
                right: $textOffset;
            }
        }

        &:hover {
            opacity: 0.99;

            span {
                display: inline-block;
            }
        }

        span {
            display: none;
            position: absolute;
            margin-top: 0.7rem;
            left: $textOffset;
            padding: 0.75rem;
            font-size: 0.94rem;
            white-space: nowrap;
            color: $base;
            background: white;
        }
    }
}

@media ($tablet) {
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: $paleblue;

            &:hover {
                background: lighten($paleblue, 10%);
            }
        }
    }
}
